@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
@import url(./fontello.css);
/* 숨김 제목 및 숨김 콘텐츠 */
.a11y-hidden,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
}

body *,
body *::before,
body *::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
body {
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-size: 1.4rem;
  color: #181818;
  background: #ccc;
}
/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}
/* 스킵 내비게이션 */
.skip-nav {
  display: none;
}

/* 레이아웃 */
.header,
.visual,
.main,
.slogan {
  width: 940px;
  margin: 0 auto;
}
/* 헤더 */
.header {
  position: relative;
  background: #fff;
  border-radius: 0 0 15px 15px;
  padding: 0 30px;
}
/* 로고 */
.logo {
  position: absolute;
  top: 50px;
  left: 65px;
  margin: 0;
}
/* 안내 링크 목록 */
.member {
  margin: 0;
  padding-left: 0;
  list-style: none;
  text-align: right;
}
.member li {
  display: inline-block;
  padding: 2px 0;
}
.member a {
  padding: 6px 0;
  display: inline-block;
}
/* 내비게이션 */
.navigation {
  padding-bottom: 35px;
}
.menu {
  background: linear-gradient(
    to bottom,
    #efa22f 0%,
    #ed702d 35%,
    #ed702d 70%,
    #efa22f 100%
  );
  border-top: 2px solid currentColor;
  margin: 10px 0 0 0;
  padding-left: 0;
  list-style: none;
  height: 47px;
  border-radius: 0 0 5px 5px;
  padding-left: 225px;
}
.menu-item {
  position: relative;
  float: left;
}
.menu-button {
  cursor: pointer;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 700;
  background: transparent;
  line-height: 45px;
  display: block;
  padding: 0 20px;
  border: 0;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.menu-act .menu-button {
  color: #ff0;
}
.menu-act .menu-button::after {
  content: "";
  display: block;
  border-top: 2px solid #000;
}
.sub-menu {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: none;
  position: absolute;
  top: 47px;
  white-space: nowrap;
}
.sub-menu li,
.sub-menu a {
  display: inline-block;
}
.sub-menu a {
  padding: 8px 0;
  margin-right: 10px;
}
.sub-menu a::before {
  content: '\f192';
  font-family: 'fontello';
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
}

.sub-menu a:hover::before,
.sub-menu a:focus::before {
  content: '\e800';
}
.menu-act .sub-menu {
  display: block;
}
.sub-menu1,
.sub-menu2,
.sub-menu3 {
  left: 0;
}
.sub-menu4,
.sub-menu5,
.sub-menu6 {
  right: 0;
}
/* 텍스트 및 배경 애니메이션 - 비주얼 */
@keyframes textAni {
  0% {
    font-size: 12px;
    color: rgba(0, 0, 0, 0);
    transform: translate(0, 0);
  }
  100% {
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    transform: translate(400px, 75px);
  }
}
@keyframes bgAni {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.visual {
  height: 120px;
  position: relative;
}
.visual::before,
.visual::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  animation: bgAni 2000ms alternate infinite ease-in-out;
}
.visual::before {
  background-image: url(./images/ani_flower_01.png),
    url(./images/ani_flower_02.png);
  background-position: 0 -10px, 670px 0;
}
.visual::after {
  background-image: url(./images/ani_flower_03.png),
    url(./images/ani_flower_04.png);
  background-position: 300px 0, 800px 0;
  animation-delay: 1000ms;
}

.visual-text {
  width: 500px;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  animation-name: textAni;
  animation-duration: 3000ms;
  animation-fill-mode: forwards;
}
.main {
  background: #fff;
  /* display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; */
  padding: 30px 15px;
  overflow: hidden;
  min-height: 450px;
}
.group {
  margin: 0 15px;
  float: left;
}
.group1 {
  width: 250px;
}
.group2 {
  width: 380px;
}
.group3 {
  width: 190px;
}
/* 로그인 */
.login {
  background: radial-gradient(circle at right top, #efa22f, #ed702d);
  border-radius: 5px;
  box-shadow: 5px 5px 0 0 #ccc;
  padding: 15px 10px;
}
.login-heading {
  margin: 0;
  color: #ff0;
  font-size: 1.6rem;
  font-weight: 700;
  text-indent: 10px;
}
.login-form {
  margin-top: 10px;
  padding: 10px 10px 0 10px;
  background: #fff;
  border-radius: 5px 5px 0 0;
}
.login-form fieldset {
  border: 0;
  border-bottom: 1px solid #ccc;
  padding: 0;
  padding-bottom: 5px;
  margin: 0;
  position: relative;
}

.user-email,
.user-pw {
  margin-bottom: 5px;
}
.user-email *,
.user-pw * {
  vertical-align: middle;
}

.login-form label {
  width: 4em;
  display: inline-block;
}
.login-form input {
  width: 90px;
  height: 22px;
  border: 1px solid #ccc;
  padding: 1px 1px 1px 0.5em;
}
.btn-login {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  padding: 0 5px;
  border: 0;
  border-radius: 3px;
  background: #ed702d;
  color: #fff;
}

.login-member {
  background: #fff;
  padding: 2px 10px;
  margin: 0;
  list-style: none;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  letter-spacing: -1px;
}
.login-member li {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.login-member .icon-right-open {
  color: #ed702d;
}
.login-member a {
  display: block;
  padding: 8px 0;
}
/* 유효성 검사 배너 */
.validation-list {
  margin: 25px 0 0 0;
  list-style-type: none;
  padding-left: 0;
}

.validation-list a {
  display: block;
  border-radius: 20px;
  border: 1px solid #aaa;
  background: url(./images/validation_icon.png) no-repeat 25px 50% / 20px 20px,
    linear-gradient(to bottom, #eee, #ccc);
  padding: 8px 10px 8px 50px;
  margin-top: 10px;
}

.validation-list a:hover,
.validation-list a:focus {
  color: #f00;
}
/* 웹 관련 용어 */
.term {
  border: 1px solid #aaa;
  background: linear-gradient(#ccc, #eee);
  padding: 15px;
  margin-top: 20px;
  border-radius: 5px;
}
.term-heading {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.6rem;
  font-weight: 700;
}
.term-list {
  margin: 15px 0 0 0;
}
.term-list > div {
  overflow: hidden;
}
.term-list div:nth-child(even) {
  margin-top: 15px;
}
.term-list-subject,
.term-list-brief {
  float: right;
  width: 145px;
}
.term-list-subject {
  color: #296897;
}
.term-list-thumbnail {
  float: left;
}
.term-list-thumbnail img {
  display: block;
}
.term-list-brief {
  margin-top: 5px;
  line-height: 1.5;
}
.term-list dd {
  margin-left: 0;
}

.term-list div:nth-child(even) .term-list-subject,
.term-list div:nth-child(even) .term-list-brief {
  float: left;
}
.term-list div:nth-child(even) .term-list-thumbnail {
  float: right;
}
/* 검색 폼 */
.search-form{
  background: #ccc linear-gradient(#ccc, #eee);
  border: 1px solid #aaa;
  border-bottom-color: #fff;
  border-radius: 15px 15px 0 0;
  padding: 15px 25px 10px;
}
.search-form fieldset{
  border:0;
  padding:0;
  margin:0;
}
.search-form-container{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.search-form [name="search"]{
  border:1px solid #aaa;
  border-radius: 3px;
  padding: 1px 1p 1px 0.5em;
  height: 22px;
  /* flex-grow: 1; */
  /* margin: 0 5px; */
  width: 190px;
}
.btn-search{
  background-color: #333;
  border: 1px solid #aaa;
  color:#fff;
  border-radius: 3px;
  padding: 0 10px;
  height: 22px;
}
/* 공지사항 및 자료실 */
.board { 
  position: relative;
  height: 200px;
  margin-top: 20px;
  
}
.notice-list,
.pds-list,
.notice-more,
.pds-more{
  display: none;
}
.is-active .notice-list,
.is-active .pds-list,
.is-active .notice-more,
.is-active .pds-more{
  display: block;
}
/* .notice-heading,
.pds-heading{
  float: left;
  margin: 0;
} */
.tab {
  /* float: left; */
  margin: 0;
  position: absolute;
  top:0;
  /* border기준 */
}
.is-active .tab{
  z-index: 5;
}

.notice-heading{
  left:0;
}
.pds-heading{
  left: 83px; 
}
.tab a{
  display: block;
  border-radius: 5px 5px 0 0;
  border: 1px solid #aaa;
  background: #ccc linear-gradient(#ccc, #eee);
  color: #999;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 5px 15px;
  /* defalut값을 생각 (오렌지 vs 그레이) */
}
.is-active .tab a{
  color:#ed702d;
  border-color: #ed702d #ed702d #fff #ed702d;
  background: #fff;
  /* background-color로 바꾸면 안됌 */
}

.notice-list,
.pds-list{
  /* 공동 이름을 사용하는 것이 편리 */
  list-style-type: none;
  padding-left: 0;
  margin: 0;
   /* 초기화 시켜서 공지사항 목록의 크기 확인 */
  /* position: absolute;  */
  /* left: 0;
  top: 45px; */

  /* position:static;상태  */
  padding-top: 45px;
  width: 100%;
  min-height: 170px;
  
}

.notice-list li,
.pds-list li{
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 10px;
  
}

.notice-list a,
.pds-list a{
  /* flex-grow: 1; */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width:280px;
}

.notice-more,
.pds-more{
  position: absolute;
  top:-8px;
  right: -8px;
  padding: 8px;
  /* 여백을 추가함으로써 글자가 밑으로 내려온 것 같다. 
  여백을 추가했기 때문에 top, right값 변형 
  사용자고려해서 넓이를 건드린 것이다.*/
}

/* +의 색을 변화하려고 할 때, 
  여기에 바로 글자 색을 주면 '더보기'글자 까지 색이 변화한다.
  더보기 앞에 있기 때문에 ::before */
.notice-more::before,
.pds-more::before{
  color: hsla(110, 50%, 30%, 1);
  /* 무지개색 (원 차트에서 시계방향) : 
  green> 90도에서 약간 벗어났으니 110도 겠구나
  16진수, 10진수는 인간이 볼 때 결과값을 알 수 없지만 
  hsla를 사용하면 인간이 읽기 가장 쉬운 코드  
  (색의 각도 채도 명도) */

  /* 전경색과 배경색의 명도대비 (WCAG)
  -single 'A'
  -double 'AA' : 4.5:1 준수 (배경색이 #fff면, 전경색 #767676)
  -triple 'AAA' */
}

.slogan {
  background: orange;
}
.footer {
  background: pink;
}