@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
@import url(./fontello.css);

.a11y-hidden{ 
  position: absolute;
/*   스크롤 튀는 것 방지  */
  width: 1px;
  height: 1px;
  margin: 0;
  overflow:hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}


body *, 
body *::before, 
body *::after{
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body{
  font-family: 'Spoqa Han Sans', 'Sans-serif'; 
  font-size: 1.4rem;
  color: #181818;
  background: #ccc;
}

/* 링크 스타일  */
a{
  color: inherit;
  text-decoration: none;
}

/* 스킵 내비게이션 : 본문 바로가기 
존재하지 않는 것으로 나타냅니다.*/
.skip-nav{
  display: none;
}

/* 레이아웃 */
.header,
.visual, 
.main, 
.slogon{
  width: 940px;
  margin: 0 auto;
}

/*헤더*/
.header{
  background: #fff;
  position: relative;
/* 로고가 이동하기 위해 
  상대적인 위치값 부여해주는것 */
  border-radius: 0 0 15px 15px;
  padding: 0 30px;
}
/*로고*/
.logo{
  position: absolute;
/* 상위요소 header기준으로 이동하기 위함*/
  margin :0;
/*header기준에서 top,left 설정 */
  top: 50px;
  left: 65px;
}

/* 회원안내링크 목록 */
.member{
  margin: 0;
  padding-left: 40px;
  text-align: right;
  list-style: none;
}
.member li{
  display: inline-block;
  padding: 2px 0;
}
.member a{
  display: inline-block;
  padding: 6px 0;
}

.navigation{
  padding-bottom: 35px;
}

/* 하위메뉴를 배치 */
.menu{
  background: linear-gradient(
    to bottom,
   #efaf2f 0%,
   #e55e24 35%,
   #e55e24 35%,
   #e55e24 70%,
   #efaf2f 100%);
  margin: 10px 0 0 0; 
  padding-left: 0;
  list-style: none;
  height: 47px;
  border-top:2px solid currentColor;
  border-radius: 0 0 5px 5px;
  padding-left: 220px;
/*   overflow: hidden; */
}
.menu-item{
  position: relative;
  float: left;
}
.menu-button{
  cursor: pointer;
  font-size: 1.6rem;
  color:#fff ;
  font-weight: 700;
  background: transparent;
  line-height: 45px;
  padding: 0 20px;
  display: block;
  border: 0;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
}
.menu-act .menu-button{
  color: #ff0;
}

.menu-act .menu-button::after{
  content: "";
  display: block;
  border-top: 2px solid #000;
}
.sub-menu{
 margin: 0;
 padding-left:0;
 list-style: none;
 /*menu-item을 기준으로 움직이기 위함 */
 position: absolute;
 display: none;
/* 요소가 공백 문자를 처리하는 법 */
 white-space: nowrap;
 top: 47px;
}
.sub-menu li,
.sub-menu a{
  display: inline-block;
}

.sub-menu a{
  margin-right: 10px;
  padding: 8px 0;
}

.sub-menu a::before{
  content: '\f192'; 
  font-family: 'fontello';
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
}
.sub-menu a:hover::before,
.sub-menu a:focus::before {
  content: '\e800';
}
.menu-act .sub-menu {
  display: block;
}
.sub-menu1, .sub-menu2, .sub-menu3 {
  left: 0;
}
.sub-menu4, .sub-menu5, .sub-menu6 {
  right: 0;
}
.visual{
  background: lime;
  height: 120px;
}

.main{
  background: skyblue;
  padding: 30px 15px;
  overflow: hidden;
  min-height: 450px;
}
.group{
  margin: 0 15px;
  float: left;
}
.group1{
  background: blueviolet;
  width:250px;
}
.group2{
  background: lightgreen;
  width: 380px;
}
.group3{
 background: tomato;
 width: 190px;
}
.slogon{
 background: orange;
}
.footer{
background:pink;
width: 100%
}